# Deep Vision — Local Development Environment

# Django
DEBUG=True
SECRET_KEY=dnsksfew-ddkwdnw-sdnkdnwkd-ddnwkd

# Database
DB_NAME=deep_vision
DB_USER=deepvision_user
DB_PASSWORD=deepvision_password

# Redis
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0

# Services
NODE_SERVICE_URL=http://realtime:4000
API_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

